:root {
  --memo-map-bg: #E5E8FF;
  --memo-map-txt: #1027FC;

  --reddit-txt: #FF4500;
  --reddit-bg: #FFF2ED; /*FFE2D7;*/

  --rent-easy-bg: #F5DBD3;
  --rent-easy-bg-r: #D1D4EF;
  --rent-easy-txt-r: #CF4C22;
  --rent-easy-txt-a: #1727AE;


  --bridal-shower-bg: #BFD3BE;
  --cmu-sio-bg:#F5F4F4; /*#B8CAC4;*/
  --cmu-sio-txt: #A80000;
  --asian-designers-bg: #EFF0F2;
  --pitt-zoo-bg: #C8DEF4;

  --accent-bg: #40873E;
  --accent-color: #347032;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.nav-active {
  color: var(--accent-bg)
}

.subtitle {
  font-size: 24px;
}

.heading {
  font-size: 18px;
}

.heading-big {
  font-size: 22px;
}

.caption {
  font-style: italic;
}

li {
  line-height: 2em;
}

.bold-m {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.bold-ex {
  font-weight: 800;
}

a {
  color: #000000;
}

.no-link {
  text-decoration: none;
}

.no-link:hover {
  text-decoration: none;
}

.underline:hover {
  color: var(--accent-color);
}

.underline {
  text-decoration: underline;
  text-decoration-color: black;
}

.memo-map-border {
  border: 15px solid var(--memo-map-bg)
}

.memo-map-border:hover {
  transition: .4s ease;
  background-color: var(--memo-map-bg);
}

.reddit-border {
  border: 15px solid var(--reddit-bg)
}

.reddit-border:hover {
  transition: .4s ease;
  background-color: var(--reddit-bg);
}

.green {
  color: var(--accent-color);
}

.black {
  color: black;
}

/* .card {
  border: none;
} */

/* .card-title {
  margin-bottom: 4px;
  font-size: 24px;
} */

/* .card-body {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
} */

.projects a:hover {
  text-decoration: none;
}

/* .card-text {
  font-size: 16px;
  margin-bottom: 32px;
} */

.card-tag {
  font-size: 16px;
  margin-bottom: 0;
  color: #525252;
}

.drop-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-bg {
  background-color: white;
}

.memo-map-bg {
  background: var(--memo-map-bg);
}

.memo-map-bg a:hover {
  color: var(--memo-map-txt);
}

.memo-map-txt {
  color: var(--memo-map-txt);
}

.memo-map-tb td {
  padding-bottom: 12px;
  vertical-align: top;
}

.reddit-bg {
  background: var(--reddit-bg);
}

.reddit-txt {
  color: var(--reddit-txt);
}

.rent-easy-bg {
  background-color: var(--rent-easy-bg);
}

.rent-easy-bg-r {
  background-color: var(--rent-easy-bg-r);
}

.rent-easy-txt-r {
  color: var(--rent-easy-txt-r);
}

.rent-easy-txt-a {
  color: var(--rent-easy-txt-a);
}

.bridal-shower-bg {
  background-color: var(--bridal-shower-bg);
}

.cmu-sio-bg {
  background-color: var(--cmu-sio-bg);
}

.cmu-sio-txt {
  color: var(--cmu-sio-txt);
}

.asian-designers-bg {
  background-color: var(--asian-designers-bg);
}

.pitt-zoo-bg {
  background-color: var(--pitt-zoo-bg);
}


.process-scroll {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.process-scroll h5 {
  font-size: 18px;
  margin: 30px 0px 0px 0px;
  font-weight: 600;
}

.memo-map-scroll p {
  margin: 30px 0px 10px 10px;
}

.process-scroll ul {
  margin-bottom: 30px;
}

.process-scroll ol li {
  margin-top: 10px;
}


.process-scroll::-webkit-scrollbar {
  display: none;
}


td {
  padding-right: 30px;
  padding-bottom: 20px;
  vertical-align: top;
}


/* path {
  margin-bottom: 1vh;
} */

i {
  color: val(--accent-color);
  font-size: 5vh;
}

.memo-map-scroll img {
  padding-top: 5px;
  padding-bottom: 30px;
}

.active {
  font-size: 100px;
}
/* 
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 6s linear normal infinite;
  animation-iteration-count: 1;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.overlay-card:hover .overlay {
  opacity: 0.7;
}


.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-img-top {
  width: 181px;
  height: 244px;
}

.card {
  padding: 29px 16px 26px 16px;
  width: 213px;
  color: white;
}

.card-body {
  padding: 0px;
}

.hide {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 4px;
  /* color: white; */
}

.card:hover {
  transition: .5s ease;
  color: black;
}

.curl {
  text-align: right;
  width:120px;
	height:120px;
}